* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('https://source.unsplash.com/1600x900/?landscape');
    background-size: cover; 
    display: flex;
    justify-content: center; /* Vai centralizar na horizontal */
    align-items: center;
    min-height: 100vh; /* Tamanho minimo da tela */
}

.container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin: 30px 0;
    display: flex;
    gap: 40px; /* Distancia entre os itens */ 
}

button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity .5s ease-in-out;
}

button:hover {
    opacity: .7;
}

#rock {
    background-color: #e06363;
}

#paper {
    background-color: #4add52;
}

#scissors {
    background-color: #974dd4;
}


p {
    font-weight: bold;
    margin-bottom: 10px;
}

.your-score span {
    color: #0dc016;
}

.machine-score span {
    color: #dd1818;
}